@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import 'normalize.css';


.qr-btn {
  cursor: pointer;
  border-radius: 20px;
  padding: 5px;
  background-color: lightgreen;
  border: 1px solid transparent;
  margin-left: 10px;

  &:hover {
    border: 1px solid darken(lightgreen, 35%);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: none;
  }
}

.disabled {
cursor: none;

  &:hover {
    border: 1px solid transparent;
  }

  &:active {
    transform: none;
  }
}

.qr {
  margin-top: 15px;
}